<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
  </head>
  <body>
    <h1>Profile Page</h1>
    {% if data %}
    <h2>ID: {{data.id}}</h2>
    <h2>Email: {{data.email}}</h2>
    <h2>Password: {{data.email}}</h2>
    {% else %}
    <p>No user found with this ID.</p>
    {% endif %}
    <h2>Add Google Authentication below</h2>
    <a href="/qrcode/{{ data.id }}">Scan QR Code with Google Authenticator</a>
  </body>
</html>
